* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  border: 4px solid black;
  /* align-items: center; */
  margin-top: 20px;
  background-color: teal;
  padding: 20px;
  grid-gap: 20px;
  grid-template-areas:
    "header header header"
    "main main sidebar"
    "main main sidebar"
    "footer footer footer";
  grid-template-rows: 100px 100px 100px 100px; /* add this line */
}
.box{
  /* background-color: lightblue; */
  border: 1px solid rgb(240, 156, 156);
  padding: 20px;
  text-align: center;
}

.box-1 {
  grid-area: header;
  background-color: lightblue;
  grid-template-rows: auto auto auto; /* add this line */
}
.box-2 {
  grid-area: main;
  background-color: lightgreen;
}
.box-3 {
  grid-area: sidebar;
  background-color: lightpink;
}