@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #222;
  --secondary-text-color: #444;
  --card-background-color: #fff;
  --background-color: #eee;
  --default-margin: 30px;
  --primary-gradient: linear-gradient(to right, #feb47b, #ede3e1);
}

.dark {
  --primary-text-color: #fff;
  --secondary-text-color: #ddd;
  --card-background-color: #333;
  --background-color: #111;
  --primary-gradient: linear-gradient(to right, #333, #111);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
.container {
  min-height: 100vh;
  padding: 20px 80px;
  /* background-color: var(--background-color); */
}
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: var(--primary-text-color);
  margin: var(--default-margin) 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 20px;
  align-items: center;
}

.box {
  padding: 20px;
  margin: var(--default-margin);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--card-background-color);
}

.box h2 {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-weight: 600;
}

.box p {
  font-size: 1.3rem;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  line-height: 1.2;
}

.toggle-button {
  position: fixed;
  top: 30px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-text-color);
  color: var(--card-background-color);
  border: none;
  border-radius: 50%;
}

.toggle-button:hover {
  cursor: pointer;

  background-color: var(--card-background-color);
  transition: all 0.3s ease;
}
.dark .container .toggle-button {
  cursor: pointer;
  background-color: var(--primary-text-color);
  color: var(--card-background-color);
  transition: all 0.3s ease;
}
.dark .container .toggle-button:hover {
  background-color: var(--card-background-color);
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .container {
    padding: 20px 0px;
  }
  .toggle-button {
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
  }
}

/* .toggle-button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  } */

/* .toggle-button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  } */
